html {
    scroll-behavior: smooth;
}

body {
    background-color: #75706f;
    background-image: linear-gradient(#403d3d,#75706f, #403d3d);
    color: antiquewhite;
    position: relative;
    font-family: 'Bellota Text', cursive;
}

a, a:visited {
    color: antiquewhite;
}

a:hover {
    color: #75706f;
}

h1, h2, h3 {
    font-family: 'Bebas Neue', cursive;
}

h1 {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #75706f;
}

.carousel-caption {
    display: none;
}

.section {
    padding-top: 75px;
    padding-bottom: 25px;
    border-top: 1px;
    border-bottom-style: dotted;
}
 
.innerAbout {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
@media only screen and (max-width: 800px) {
    .innerAbout {
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 0px;
  }
