html {
    scroll-behavior: smooth;
}

body {
    background-color: #75706f;
    background-image: linear-gradient(#403d3d,#75706f,#403d3d);
    color: #f2f2f2;
    font-family: 'Bellota Text', cursive;
}

#navigation {
    padding: 7.5px;
    background-color:rgba(0, 0, 0, 0.5);
    font-size: 87.5%;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #f2f2f2;
    background-color: #75706f;
}
a, a:visited {
    color: antiquewhite;
}

a:hover {
    color: #75706f;
}

h1, h2, h3, h4 {
    margin: 20px;
    font-family: 'Bebas Neue', cursive;
}

.section {
    padding-top: 75px;
    padding-bottom: 25px;
    border-bottom-style: dotted;
}

#backToTopBtn {
    display: none; /*Hide by default*/
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99; /*make sure it does not overlap*/
    border: none;
    outline: none;
    background-color:rgba(0, 0, 0, 0.5);
    color: #f2f2f2;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: 30px;
}

#photos {
    text-align: center;
}

#videos {
    text-align: center;
}

.carousel-caption {
    display: none !important;
}

#submit {
    text-align: center;
}
.designer {
    font-size: 12.5px; 
    text-align: center; 
    margin: 50px;
}